<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  {% if page.tagline != null %}
  <title>{{ page.tagline }}</title>
  {% else %}
  <title>{{ page.title }} | Ben Limmer</title>
  {% endif %}
   <meta name="author" content="{{ site.author.name }}" />
   {% if page.description %}
   <meta name="description" content="{{ page.description }}">
   {% endif %}
   <link type="text/plain" rel="author" href="http://benlimmer.com/humans.txt" />
   <link rel="shortcut icon" href="assets/favicon.png" />
   <link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="your title" type="application/atom+xml" />

   <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-journal.min.css" />
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="{{ ASSET_PATH}}/css/pygments.css" type="text/css" />
   <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43746905-1', 'benlimmer.com');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</head>
<body>

  <div class="site" itemscope itemtype="http://schema.org/Blog">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.author.name }}</a>
          <ul class="nav">
            {% assign pages_list = site.weighted_pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <div class="footer">
      <div class="contact" itemscope itemprop="author" itemtype="http://schema.org/Person">
        <p>
          <span itemprop="name">{{ site.author.name }}</span><br />
          <span itemprop="jobtitle">{{ site.tagline }}</span><br />
          <span itemprop="email"><a href='mailto:{{ site.author.email }}'>{{ site.author.email }}</a></span>
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
          <a href="http://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a><br />
          {% if page.type == 'post' %}
          <a href="https://plus.google.com/{{ site.author.googleplus }}?rel=author">google.com/{{ site.author.googleplus }}</a><br/>
          {% else %}
          <a href="https://plus.google.com/{{ site.author.googleplus }}">google.com/{{ site.author.googleplus }}</a><br/>
          {% endif %}
        </p>
      </div>
      <div class="rss">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
          <img alt="Creative Commons License" style="padding-right:10px" src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
        </a>
        <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}">
          <img src="{{ ASSET_PATH }}/images/rss.png" height="45" width="45" alt="Subscribe to RSS Feed" />
        </a>
      </div>
    </div>
  </div>
</body>
