---
layout: page
title: Tags
header: Posts By Tag
---

{% assign sortedTags = site.tags | sort %}

<div class="tag-list">
  {% for tag in sortedTags %}
  <a href="#{{ tag[0] | replace: " ", "-" }}">{{ tag[0] }}&nbsp;({{ tag[1] | size }})</a>
  {% endfor %}
</div>

{% for tag in sortedTags %}

<section class="posts-by-tag">
  <h2 id="{{ tag[0] | replace: " ", "-" }}" class="anchor-fix">{{ tag[0] }}</h2>

  {% for post in tag[1] %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
  </li>
  {% endfor %} {% endfor %}
</section>
