<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="author" content="{{ site.author.name }}" />

  <title>{% if page.title %}{{ page.title }} | Ben Limmer{% else %}{{ site.title }}{% endif %}</title>
  <meta
    name="description"
    content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />

  <!-- start OpenGraph -->
  <meta content="{{ site.title }}" property="og:site_name" />
  <meta
    content="{{ site.base_url }}/{% ministamp _images/headshot.png assets/images/headshot.png %}"
    property="og:image"
  />
  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title" />
  {% else %}
  <meta content="{{ site.title }}" property="og:title" />
  {% endif %} {% if page.title %}
  <meta content="article" property="og:type" />
  {% else %}
  <meta content="website" property="og:type" />
  {% endif %} {% if page.description %}
  <meta content="{{ page.description }}" property="og:description" />
  {% else %}
  <meta content="{{ site.description }}" property="og:description" />
  {% endif %} {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
  {% endif %}
  <!-- end OpenGraph -->

  <!-- start Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@l1m5" />
  <meta name="twitter:creator" content="@l1m5" />
  <meta
    name="twitter:image:src"
    content="{{ site.base_url }}/{% ministamp _images/headshot.png assets/images/headshot.png %}"
  />
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %} {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
  {% endif %} {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}" />
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}" />
  {% endif %}
  <!-- end Twitter -->

  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" />
  <meta content="{{ site.url }}/about/" property="article:author" />
  {% endif %} {% if page.categories %} {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section" />
  {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag" />
  {% endfor %} {% endif %}

  <link rel="canonical" href="{{ site.production_url }}{{ page.url | replace:'index.html',''}}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.production_url }}/feed.xml" />
  <link type="text/plain" rel="author" href="{{ site.base_url }}/humans.txt" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
  <link
    href="//stackpath.bootstrapcdn.com/bootswatch/4.5.0/journal/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-vjBZc/DqIqR687k5rf6bUQ6IVSOxQUi9TcwtvULstA7+YGi//g3oT2qkh8W1Drx9"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="{{ site.base_url }}/{% ministamp _css/custom.css css/custom.css %}" />
  <script src="{{ site.base_url }}/{% ministamp _js/require.js js/require.js %}"></script>
  <script>
    requirejs.config({
      shim: {
        bootstrap: { deps: ["jquery"] }
      },
      paths: {
        jquery: "//code.jquery.com/jquery-3.5.1.slim.min",
        bootstrap: "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min"
      }
    });
    require(["jquery", "bootstrap"], function() {
      // Dependencies loaded
      {% if page.custom_js %}
        {% include {{page.custom_js}} %}
      {% endif %}
    });
  </script>

  {% if jekyll.environment == "production" %}
  <script>
    (function (n, i, v, r, s, c, x, z) {
      x = window.AwsRumClient = { q: [], n: n, i: i, v: v, r: r, c: c };
      window[n] = function (c, p) {
        x.q.push({ c: c, p: p });
      };
      z = document.createElement("script");
      z.async = true;
      z.src = s;
      document.head.insertBefore(z, document.head.getElementsByTagName("script")[0]);
    })(
      "cwr",
      "eb25f266-0a94-42b7-af0d-7372f6a4ee0e",
      "1.0.0",
      "us-east-1",
      "https://client.rum.us-east-1.amazonaws.com/1.1.0/cwr.js",
      {
        sessionSampleRate: 1,
        guestRoleArn: "arn:aws:iam::107111673154:role/benlimmer.com-RUM-UnauthenticatedRole",
        identityPoolId: "us-east-1:452f1f73-40e4-44bc-b326-b56daf4d20e4",
        endpoint: "https://dataplane.rum.us-east-1.amazonaws.com",
        telemetries: ["performance", "errors", "http"],
        allowCookies: true,
        enableXRay: false,
      }
    );
  </script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43746905-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-43746905-1");
  </script>
  {% endif %}
</head>
