<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">{{ site.title }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-toggler"
      aria-controls="navbar-toggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-toggler">
      {% assign current = page.url | downcase | split: '/' %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item {% if page.url == '/' %} active {% endif %}">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item {% if current[1] == 'freelance' %} active {% endif %}">
          <a class="nav-link" href="/freelance">FREELANCE</a>
        </li>
        <li class="nav-item {% if current[1] == 'archive' or page.is_post %}active{% endif %}">
          <a class="nav-link" href="/archive">BLOG</a>
        </li>
        <li class="nav-item dropdown {% if page.is_about %}active{% endif %}">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="about-dropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            ABOUT
          </a>
          <div class="dropdown-menu" aria-labelledby="about-dropdown">
            <a class="dropdown-item" href="/about">About Me</a>
            <a class="dropdown-item" href="/experience">Experience &amp; Education</a>
            <a class="dropdown-item" href="/portfolio">Portfolio</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
