<!-- <div class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-label="toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        {% assign current = page.url | downcase | split: '/' %}
        <li>
          <a href="/" {% if current[1] == 'index' %}class='active'{% endif %}>HOME</a>
        </li>
        <li>
          <a href="/archive" {% if current[1] == 'archive' or page.is_post %}class='active'{% endif %}>BLOG</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle {% if page.is_about %}active{% endif %}" data-toggle="dropdown" href="#" id="about">ABOUT <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="about">
            <li><a href="/about">About Me</a></li>
            <li><a href="/experience">Experience &amp; Education</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">{{ site.title }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-toggler"
      aria-controls="navbar-toggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-toggler">
      {% assign current = page.url | downcase | split: '/' %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item {% if current[1] == 'index' %} active {% endif %}">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li
          class="nav-item {% if current[1] == 'archive' or page.is_post %}active{% endif %}"
        >
          <a class="nav-link" href="/archive">BLOG</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
