<footer class="footer container">
  <hr />
  <div class="row justify-content-center">
    <div class="contact1 col-md-5 mb-2 mt-2" itemscope itemprop="author" itemtype="http://schema.org/Person">
      <span itemprop="name">{{ site.author.name }}</span><br />
      <span itemprop="jobtitle">{{ site.tagline }}</span><br />
      <span itemprop="email"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></span>
    </div>
    <div class="contact col-md-3 align-items-start mb-2 mt-2">
      <div class="mb-2">
        <a href="https://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a>
      </div>
      <div class="mb-2">
        <a href="https://www.linkedin.com/in/blimmer/">linkedin.com/in/blimmer</a>
      </div>
      <div>
        <a href="https://keybase.io/{{site.author.keybase}}">keybase.io/{{ site.author.keybase }}</a>
      </div>
    </div>
    <div class="rss col-md-2 md-2 mt-2">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img
          alt="Creative Commons License"
          style="padding-right: 10px"
          src="{{ site.base_url }}/{% ministamp _images/creative-commons-icon.png assets/images/creative-commons-icon.png %}"
        />
      </a>
    </div>
  </div>
</footer>
