---
interface Props {
  id?: string;
  title?: string;
  description?: string;
  children: any;
}

const { id, title, description, children } = Astro.props;
---

<section class="bg-primary flex flex-col items-center py-20 text-white" id={id}>
  {title && <h2 class="mb-4 text-3xl font-bold text-blue-300 md:text-4xl">{title}</h2>}
  {description && <p class="mb-10 max-w-2xl text-center text-white/80">{description}</p>}
  <slot />
</section>
