<section class="bg-primary text-white py-20 flex flex-col items-center" id="contact">
  <h2 class="text-3xl md:text-4xl font-bold mb-4 text-blue-300">Get in Touch</h2>
  <p class="text-center max-w-2xl mb-8 text-white/80">Interested in working together? Let's connect.</p>
  <a
    href="/freelance/contact"
    class="px-5 py-2 rounded bg-blue-500 hover:bg-blue-600 text-white font-medium transition text-sm">Contact me</a
  >
</section>
