---
const currentYear = new Date().getFullYear();
---

<footer
  class="bg-secondary text-white/60 py-6 text-xs flex flex-col items-center justify-center px-4 border-t border-white/10"
>
  <div class="flex items-center gap-2">
    <span>© {currentYear} Ben Limmer. All rights reserved.</span>
  </div>
</footer>
