<section class="consulting-accordian">
  <details>
    <summary>
      <h3>2020 Availability</h3>
    </summary>
    <div class="row ml-2 mt-2">
      <div class="col-2">January 2020</div>
      <div class="col-1"></div>
      <div class="col">
        {% octicon x height: 24 %}
        <span class="text-danger">No Availability</span>
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">February 2020</div>
      <div class="col-1"></div>
      <div class="col">
        {% octicon check height: 24 %}
        <span class="text-success">Available</span>
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">March 2020</div>
      <div class="col-1"></div>
      <div class="col">
        {% octicon check height:24 %}
        <span class="text-success">Available</span>
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">April 2020</div>
      <div class="col-1"></div>
      <div class="col">
        {% octicon check height:24 %}
        <span class="text-success">Available</span>
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">May 2020</div>
      <div class="col-1"></div>
      <div class="col">
        {% octicon check height:24 %}
        <span class="text-success">Available</span>
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">June 2020</div>
      <div class="col-1"></div>
      <div class="col">
        {% octicon x height:24 %}
        <span class="text-danger">No Availability</span>
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">July 2020</div>
      <div class="col-1"></div>
      <div class="col">
        {% octicon x height:24 %}
        <span class="text-danger">No Availability</span>
      </div>
    </div>
  </details>
</section>
