<form>
  <div class="form-group">
    <label for="name-input">Your Name</label>
    <input class="form-control" id="name-input" />
  </div>

  <div class="form-group">
    <label for="email-input">Your Email Address</label>
    <input type="email" class="form-control" id="email-input" aria-describedby="email-help" />
    <small id="email-help" class="form-text text-muted">I'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="message-input">Message</label>
    <textarea class="form-control" id="message-input" rows="3" aria-describedby="message-help"></textarea>
    <small id="message-help" class="form-text text-muted"
      >Introduce yourself and share some information about your consulting needs.</small
    >
  </div>
</form>
