<section class="consulting-accordian">
  <details>
    <summary>
      <h3>Developer Tooling and Experience</h3>
    </summary>
    <ul>
      <li>Build and Deployment Pipelines</li>
      <li>Microservice Generation and Tooling</li>
      <li>Infrastructure as Code</li>
      <li>Observability and Metrics</li>
      <li>Static Analysis and Linting</li>
    </ul>
  </details>

  <details>
    <summary>
      <h3>Cloud Computing</h3>
    </summary>
    <ul>
      <li>Solution Architecture</li>
      <li>Cost Optimization</li>
      <li>Serverless</li>
      <li>Event-Driven Architectures</li>
    </ul>
  </details>

  <details>
    <summary>
      <h3>Front&ndash;End Development</h3>
    </summary>
    <ul>
      <li>Browser Extensions</li>
      <li>Single Page Applications</li>
      <li>Server-Side Rendering</li>
      <li>PageSpeed and Structured Data Optimization</li>
      <li>Automated Unit, Integration and Acceptance/UI Testing</li>
    </ul>
  </details>

  <details>
    <summary>
      <h3>Back&ndash;End Development</h3>
    </summary>
    <ul>
      <li>Node apps</li>
      <li>Ruby apps</li>
      <li>Docker</li>
      <li>GraphQL</li>
      <li>SQL and NoSQL Databases</li>
      <li>Automated Testing</li>
    </ul>
  </details>

  <details>
    <summary>
      <h3>Talks</h3>
    </summary>
    <p>
      In addition to technical offerings, I have some customizable presentations that are perfect for lunch-and-learn or
      workshop settings, covering topics such as:
    </p>
    <ul>
      <li>Productivity Maximization</li>
      <li>Effective Use of <code>git</code></li>
      <li>Successfully Tech Leading a Project</li>
      <li>Pull Request Best-Practices and Etiquette</li>
    </ul>
  </details>
</section>
