---
import Head from "src/components/Head.astro";

interface Props {
  title?: string[];
  description: string;
}

const { title = [], description } = Astro.props;
const titleString = [...title, "Ben Limmer"].join(" | ");
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={titleString} description={description} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
