<section class="accordian">
  <details>
    <summary>
      <h3>2020 Availability</h3>
    </summary>
    <div class="row ml-2 mt-2">
      <div class="col-2">January</div>
      <div class="col-1"></div>
      <div class="col text-danger">
        {% octicon x height: 24 %} No Availability
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">February</div>
      <div class="col-1"></div>
      <div class="col text-danger">
        {% octicon x height: 24 %} No Availability
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">March</div>
      <div class="col-1"></div>
      <div class="col text-danger">
        {% octicon x height: 24 %} No Availability
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">April</div>
      <div class="col-1"></div>
      <div class="col text-danger">
        {% octicon x height: 24 %} No Availability
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">May</div>
      <div class="col-1"></div>
      <div class="col text-danger">
        {% octicon x height: 24 %} No Availability
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">June</div>
      <div class="col-1"></div>
      <div class="col text-success">
        {% octicon check height:24 %} Some Availability
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">July</div>
      <div class="col-1"></div>
      <div class="col text-success">
        {% octicon check height:24 %} Some Availability
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">August</div>
      <div class="col-1"></div>
      <div class="col text-success">
        {% octicon check height:24 %} Available
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-2">September</div>
      <div class="col-1"></div>
      <div class="col text-success">
        {% octicon check height:24 %} Available
      </div>
    </div>
  </details>
</section>
